<!--<div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui selectable celled table">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.name }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.officeEmail }}</td>
                <td>{{ client.officePhone }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="ui sortable celled table" id="clientTable">
        <thead>
            <tr>
                <th class="sorted ascending">Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.name }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.officeEmail }}</td>
                <td>{{ client.officePhone }}</td>
            </tr>
        </tbody>
    </table>
</div>-->

<div>
    <h1>Clients</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input 
                matInput
                #userInput 
                type="text" 
                (change)="searchField(userInput.value)"
                placeholder="Search by client name"
            />
    
        </mat-form-field>
        <button 
            #userInput 
            type="button" 
            (click)="searchField(userInput.value)"
            mat-stroked-button color="primary"
            class="searchButton"
        >
            Search
        </button>   
    </div>
    <table 
        mat-table [dataSource]="dataSource" 
        class="mat-elevation-z8"
        matSort
        (matSortChange)="announceSortChange($event)"
    >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th 
                mat-header-cell 
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by name"
            >
                Client Name
            </th>
            <td mat-cell *matCellDef="let client">{{ client.name }}</td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th 
                mat-header-cell 
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by address"
            >
                Address
            </th>
            <td mat-cell *matCellDef="let client">{{ client.address }}</td>
        </ng-container>

        <!-- Office Email Column -->
        <ng-container matColumnDef="officeEmail">
            <th 
                mat-header-cell 
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by email"
            >
                Email
            </th>
            <td mat-cell *matCellDef="let client">{{ client.officeEmail }}</td>
        </ng-container>

        <!-- Office Phone Column -->
        <ng-container matColumnDef="officePhone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let client">{{ client.officePhone }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
        *ngIf="pagination" 
        [pageSizeOptions]="[5, 10, 20]" 
        showFirstLastButtons
        aria-label="Select page of clients"
    ></mat-paginator>
</div>
