<div class="ui container">
    <div class="ui secondary menu">
        <a routerLink="/" class="item"><h3>GLF Manager</h3></a>
        <div class="right menu">
            <ng-container *ngIf="signedIn$ | async">
                <a class="ui item" routerLink="/main" routerLinkActive="active">
                    Home
                </a>
                <button class="ui item" (click)="signOut()">
                    Sign Out
                </button>
            </ng-container>
            <ng-container *ngIf="!(signedIn$ | async)">
                <a
                    class="ui item"
                    routerLink="/signin"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                >
                    Sign In
                </a>
            </ng-container>
            <button
                class="ui item"
                (click)="checkAuth()"
            > Check Auth
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>